html,
body {
 height: 100%;
}

body {
 @extend %open-regular;
 font-size: 16px;
 line-height: 1.6;
 color: $primaryColor;
 overflow-x: hidden;
}

.wrapper {
 display: flex;
 flex-direction: column;
 min-height: 100%;
}

.main {
 flex: 1 0 auto;
}

.footer {
 flex: 0 0 auto;
}

.container {
 max-width: 1140px;
 padding: 0 15px;
 margin: 0 auto;
}

.container-fluid {
 max-width: 1920px;
 margin: 0 auto;
 padding: 0 10px;
}

.title {
 @extend %montserrat-bold;
 @include text(36px, 1.4);
 color: $titleColor;
 @include media-576 {
  font-size: 28px;
 }
}

.breadcrumbs {
 background-color: rgba(#DFDFDF, 0.5);
 padding: 13px 14px;
 &__list {
  display: flex;
 }
 &__item {
  position: relative;
  &::after { 
   @include pseudo;
   content: "/";
   right: -10px;
   top: 2px;
  }
  &:not(:last-child) {
   margin-right: 15px;
  }
  &:last-child::after {
   display: none;
  }
 }
 &__link {
  @include text(14px,2);
 }
}
.map {
 iframe {
  height: 578px;
  @include media-768 {
   height: 300px;
  }
 }
}

.slick-dots {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1px;
 margin-top: -25px;
 position: relative;
 li {
  &:not(:last-child) {
   margin-right: 30px;
   @include media-650 {
    margin-right: 5px;
   }
  }
 @include media-840 {
  margin-top: 25px;
 } 
 }
 button {
  background-color: $titleColor;
  width: 8px;
  height: 8px;
  border-radius: 50%;
 }
}
.slick-active button {
 background-color: #FFEF35;
}
.slick-arrow {
 position: absolute;
 top: 50%;
}
.slick-prev {
 left: 15px;
 z-index: 9999;
}
.slick-next {
 right: 15px;
}
.slick-contacts {
 position: absolute;
 bottom: -60px;
}
.slick-left {
 left: 40%;
}
.slick-right {
 right: 40%;
}
.pagination {
 display: flex;
 justify-content: center;
 align-items: center;
 &__list {
  display: flex;
 }
 &__list-item {
  margin: 0 6px;
 }
 &__arrow {
  margin: 0 6px;
  &--disable {
   display: none;
  }
 }
 &__list-num {
  @include text(14px, 2);
  @extend %open-semibold;
  color: #707070;
 }
}