$primaryColor: #5A5A5A;
$titleColor: #363838;

%open-regular {
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
}

%open-semibold {
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
}

%open-light {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-style: italic;
}

%montserrat-bold {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
 font-style: normal;
}